body {
    font-family: "helveticaneue", "Arial", sans-serif;
    margin-left: 1px;
    background-image: url(https://i.imgur.com/PHXUPW8.jpg)
}

h2 {
    font-size: 4em;
    font-weight: bold;
}