/*body {
    font-family: "helveticaneue", "Arial", sans-serif;
    margin-left: 3%;
    margin-right: 3%;
    background-image: url(https://i.imgur.com/PHXUPW8.jpg);
    background-attachment: fixed;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 3em;
    font-weight: bold;
}
}
.column {
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    
}
.p1 {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
}
.row {
    grid-template-rows: 1em;
}
