body {
    font-family: "helveticaneue", "Arial", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(https://i.imgur.com/PHXUPW8.jpg);
    background-attachment: fixed;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 3em;
    font-weight: bold;
}
.banner {
    align-items: flex-right;
}
.column {
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    grid-column-gap: 1em;
}
.p1 {
    text-align: justify;
    font-size: 2em;
    font-weight: bold;
}
.banner {
    text-align: right;
}
.row {
    grid-template-rows: 1em;
}